html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  border-radius: 0.9rem;
  background-image: linear-gradient(
    to right,
    #e59c08 0%,
    #e59c08 50%,
    #e54c00 100%
  );
  display: flex;
}
.header__title {
  text-align: center;
  color: lemonchiffon;
  font-size: 3rem;
  flex-grow: 1;
  align-self: center;
}

.swami-sivananda {
  background-image: url("https://www.dlshq.org/saints/siva_mmedia/siva3.jpg");
  background-size: 95%;
  width: 9rem;
  height: 9rem;
  
}

.swami-vishnudevananda {
  background-size: 320%;
  background-position: center 9%;
  background-image: url("https://www.yogaenred.com/wp-content/uploads/2017/10/Swami_Vishnu_-Devananda-605x615.jpg");
  height: 9rem;
  width: 9rem;
  border-radius: 0 0.9rem 0.9rem 0 ;
}
